// Header
// --------------------------------------------------
.column {
  background: var(--content-bg-color);
}

.header {
  align-items: center;
  display: flex;
  padding: 20px 0;

  +mobile() {
    display: block;
    padding: 10px 0;
  }
}

.site-meta {
  line-height: normal;

  .brand {
    +mobile() {
      display: block;
    }
  }

  .site-title {
    font-weight: bolder;
  }
}

.logo-line {
  background: #AEB4F9;
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 75%;

  +mobile() {
    display: none;
  }
}

.use-motion {
  .logo-line:first-of-type {
    transform: scaleX(0);
    transform-origin: left;
  }

  .logo-line:last-of-type {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.site-subtitle {
  display: none;
}
